/ASTExprCall.class
/ASTExprFieldAccess.class
/ASTExprFieldStore.class
/ASTExprIntegerLiteral.class
/ASTExprInvocation.class
/ASTExprLocalAccess.class
/ASTExprLocalStore.class
/ASTExprMethodCall.class
/ASTExprNull.class
/ASTExprOpBinary.class
/ASTExprOpUnary.class
/ASTExprStringLiteral.class
/ASTExprVariable.class
/ASTExpression.class
/ASTExprLiteralInteger.class
/ASTExprLiteralString.class
/ASTExprLiteralTrue.class
/ASTExprLiteralFalse.class
/ASTExprMethodInvoke.class
/ASTExprLocalMethodInvoke.class
